body{
    color: black;
     border: 3px solid gray;
     width: 400px;
     height: 270px;  
}
h2{
    color: black; 
}
button{
    height: 50px;
    width: 100px;
    font-weight: normal ;
    margin: 5px;
}
#principal{
    /*border: 3px solid red;*/
    width: 400px;                
}
#primeiro{
    display: flex;
    align-items: center;
    justify-content: center;
}
#segundo{
    display: flex;
    align-items: center;
    justify-content: center; 
}
#terceiro{
    display: flex;
    align-items: center;
    justify-content: center; 
}
#btngerar{
    background-color: #03468c;
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px ;
    cursor: pointer;
    font-weight: bold;
}
#btnlimpar{
    background-color: red;
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px ;
    cursor: pointer;
    font-weight: bold;
}
#btncopiar{
    background-color: #edf0f5;
    border: 1px solid black;
    color: black;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px ;
    cursor:pointer;
    font-weight: bold;
}
